<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - GrupoPrueba2</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/glider-js@1.7.3/glider.min.css">
    <link rel="stylesheet" href="~/css/ejemplopagina.css">
    
</head>
<body>
    <header>
        <img class="logo" src="~/images/logo.png" ><a href="Home/Index"></a></img>
        <nav class="nav">
            <ul class="nav-ul">
                <li class="nav-item">
                    <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Inicio</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-dark" href="#nosotros">Nosotros</a>
                </li>
                <li class='nav-item catalogo'> 
                     <a class="nav-link" > Catalogo <i class="fas fa-arrow-right"></i></a> 
                    <ul class='nav-ul-sub'>
                         <li><a  asp-controller="Catalogo" asp-action="Index">Procesadores</a></li>
                         <li><a asp-controller="Catalogo" asp-action="Tarjeta">Tarjetas Graficas</a></li>
                         <li><a asp-controller="Catalogo" asp-action="Memoria">Memoria ram</a></li>
                        <li><a asp-controller="Catalogo" asp-action="Fuente">Fuente</a></li>
                        <li><a asp-controller="Catalogo" asp-action="Disco">Disco Duro</a></li>
                        <li><a asp-controller="Catalogo" asp-action="SSD">.SSD</a></li>
                        <li><a asp-controller="Catalogo" asp-action="Case">Case</a></li>
                        <li><a asp-controller="Catalogo" asp-action="Placa">Placa Madre</a></li>
                    </ul>
                </li>
                
                        
             </ul>
                    <partial name="_LoginPartial" />
        </nav>
        <div class='bar'><a><i class="fas fa-bars"></i></a></div>
    </header>
    
   
        <main role="main">
            @RenderBody()
        </main>
   






    <footer class="footer">
        <div class="footer-contenedor">
            &copy; 2021 - Orange Store - <a href="https://www.facebook.com" class='redes'><i class="fab fa-facebook-square"></i></a>
            <a href="https://www.whatsapp.com/?lang=es" class='redes'><i class="fab fa-whatsapp-square"></i></a>
        </div>
    </footer>
    <script src="https://kit.fontawesome.com/ff59d8ddce.js" crossorigin="anonymous"></script>
    
    <script src="https://unpkg.com/scrollreveal@4.0.0/dist/scrollreveal.min.js"></script>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/js/app.js" asp-append-version="true"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="https://cdn.jsdelivr.net/npm/glider-js@1.7.3/glider.min.js"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
