@model GrupoPrueba2.Models.Contact
@{
    ViewData["Title"]= "Contacto";
}

<div class="contacto_container">
    <h1 class="display-4">Bienvenido al Formulario Contactos</h1>

    
    <form asp-controller="Contacto" asp-action="Create">
            <div class='contacto_opcion'>
            <label asp-for="Email" class="form-label"></label>
            <input asp-for="Email" class="form-control form-control-sm" type="text" placeholder="Escribe un correo" aria-label=".form-control-sm">
            </div>
            <div class='contacto_opcion'>
            <label asp-for="Phone" class="control-label"></label>
            <input asp-for="Phone" class="form-control form-control-sm" type="text" placeholder="Escribe un teléfono" aria-label=".form-control-sm"> 
            </div>
            <div class='contacto_opcion'>
            <label asp-for="Name" class="control-label"></label>
            <input asp-for="Name" class="form-control form-control-sm" type="text" placeholder="Escribe un nombre" aria-label=".form-control-sm">
            </div>
            <div class='contacto_opcion'>
            <label asp-for="Comment" class="control-label"></label>
            <input asp-for="Comment" class="form-control form-control-sm" type="text" placeholder="Escribe un comentario" aria-label=".form-control-sm">
            </div>
    <div class="btn-contacto">
        <button type="submit" class="btn btn-primary">Registrar</button> 
    </div>    

    </form>
    
    
    <h1>@ViewData["Message"]</h1>

</div>