@{
    ViewData["Title"] = "Home Page";
}

<div class="carousel">
    <div class='carousel__contenedor'>
        <button arial-label='Anterior' class='carousel__anterior'>
            <i class="fas fa-chevron-left"></i>
        </button>
        <div class='carousel__lista' id='glider'>
            <div class='carousel__elemento'>
                <img src="/images/carousel1.jpg" alt="">
            </div>
            <div class='carousel__elemento'>
                <img src="/images/carousel2.jpg" alt="">  
            </div>
            <div class='carousel__elemento'>
                <img src="/images/carousel3.jpg" alt="">
            </div>
        </div>
        <button arial-label='Siguiente' class='carousel__siguiente'>
            <i class="fas fa-chevron-right"></i>
        </button>
        <div role='tablist' class='carousel__indicadores'></div>
    </div>
    
</div>

<div class='nosotros' id='nosotros'>
    <div class='nosotros-text'>
        <h1>Nosotros</h1>
        <p>Somos una empresa peruana en el rubro de comercialización de productos y servicios informáticos. Contamos una amplia variedad de productos informáticos de calidad mundial a precios competitivos, también con un gran grupo de colaboradores talentosos y capacidades que le ayudarán a encontrar respuestas o soluciones.</p>
    </div>
      <div class='nosotros-img'>
          <img src="/images/nosotros1.jpg" alt="">
      </div> 
</div>
<div class='card-contenido'>
    <div class='card' > 
       <div class='card-img'><img src="/images/pc1.png" alt=""> </div>
        <div class='card-text'>
            <h1>Pc Escritorio && componentes</h1>
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Eos hic explicabo, eum voluptates sequi magnam? Inventore numquam voluptatem, ipsam culpa voluptates nisi voluptatibus deserunt perferendis iure repudiandae dicta ab placeat?</p>
        </div>
    </div>
    <div class='card'>
        <div class='card-img'> <img src="/images/portatil1.png" alt=""> </div>
        <div class='card-text'> 
            <h1>Portatil</h1>
            <p> Lorem ipsum dolor sit amet consectetur adipisicing elit. Corporis numquam libero dolorem ad vero ipsum itaque. Totam asperiores voluptate hic, atque rerum, blanditiis ad quaerat inventore, aperiam possimus perferendis delectus.</p>
        </div>
    </div>
    <div class='card'>
        <div class='card-img'> <img src="/images/raton1.png" alt=""> </div>
        <div class='card-text'>
            <h1>Periféricos</h1>
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Modi, impedit! Alias quo a voluptatum iusto at soluta eum odio. Recusandae ratione repellendus deleniti ullam, quibusdam nulla nemo incidunt assumenda magni!</p>
        </div>
    </div>
</div>
